# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# React Native
.DS_Store
node_modules/
/ios/Pods/
/ios/build/
/android/build/
/android/app/build/
/android/.gradle/
/android/app/src/main/assets/index.android.bundle

# Misc
.vscode/
*.swp
